TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_CHAT_IDS=
TELEGRAM_USER_IDS=
TELEGRAM_TIMEOUT_SECONDS=20
LUXMED_LOGIN=
LUXMED_PASSWORD=
LUXMED_ACCOUNT_NAME=default
LUXMED_BASE_URI=https://portalpacjenta.luxmed.pl
LUXMED_REQUEST_URL=
LUXMED_JOBS_JSON=
LUXMED_ACCOUNTS_JSON=
LUXMED_COOKIE_HEADER=
LUXMED_JOB_NAME=default
LUXMED_DOCTOR_REGEX=
LUXMED_CLINIC_REGEX=
LUXMED_TIME_FROM=
LUXMED_TIME_TO=
LUXMED_MATCH_TEXT_REGEX=
STATE_FILE=/data/luxmed_state.json
POLL_INTERVAL_SECONDS=3600
LIVE_STATUS_INTERVAL_SECONDS=5
NOTIFY_ON_EVERY_MATCH=false
REQUEST_TIMEOUT_SECONDS=30
AUTH_EXPIRY_WARN_MINUTES=2
RATE_LIMIT_BACKOFF_SECONDS=300
